@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap");
h3 {
  font-size: 14px;
}

.game-card {
  height: 200px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  display: flex;
  border: 1px solid #f2f2f2;
  cursor: pointer;
  transition: 0.3s ease;
}
.game-card:hover {
  transform: scale(1.1);
}
.game-card .img-con {
  width: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #f2f2f2;
}
.game-card .conMain {
  padding: 20px;
  flex: 1;
}
.game-card .title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #5B68A4;
}

.singleGames h3 {
  font-size: 14px;
}
.singleGames .gridMain {
  display: grid;
  grid-template-columns: 6fr 2fr;
  grid-gap: 2em;
}
.singleGames .gridMain.embedded {
  grid-template-columns: 1fr;
}
.singleGames .contentCard {
  padding: 20px;
}
.singleGames .left-nav {
  overflow: hidden;
}

.instanceList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1em;
}

.instanceCard {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  cursor: pointer;
  position: relative;
  transition: 0.3s ease;
  max-width: 300px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.instanceCard:hover {
  transform: scale(1.01);
}
.instanceCard h3 {
  margin: 0;
  font-size: 14px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.instanceCard small {
  font-size: 10px;
  font-weight: bold;
  color: gray;
  display: block;
  margin-bottom: 10px;
}
.instanceCard .info {
  margin-right: 10px;
}
.instanceCard .context {
  font-size: 12px;
}
.instanceCard .amount {
  color: #ff683c;
  font-weight: bold;
}
.instanceCard .amount.sandbox {
  color: #5B68A4;
}
.instanceCard .play {
  color: #ff683c;
  font-size: 12px;
  font-weight: bold;
}
.instanceCard .status {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #ff652d;
}
.instanceCard .status.active {
  background-color: #3dd89a;
}

.bundle-card {
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  border-left: 4px solid #5B68A4;
}
.bundle-card * {
  padding: 0;
  margin: 0;
}
.bundle-card .top h3 {
  color: #ff683c;
  cursor: pointer;
}
.bundle-card .top p {
  font-size: 13px;
  margin-top: 10px;
}
.bundle-card .bottom {
  margin-top: 30px;
}
.bundle-card .bottom h4 {
  font-size: 12px;
  color: #5B68A4;
}
.bundle-card .bottom small {
  font-size: 12px;
  color: gray;
}
.bundle-card .bottom .counter {
  font-size: 11px;
  color: white;
  padding: 2px 5px;
  background-color: #ff683c;
  margin-right: 5px;
  border-radius: 2px;
}
.bundle-card .instance_list {
  margin-top: 15px;
}
.bundle-card .instance_list li {
  list-style: none;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f2f2f2;
}
.bundle-card .instance_list li:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.bundle-form {
  padding: 20px;
  background-color: white;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}
.bundle-form .top {
  font-weight: 600;
  margin-bottom: 30px;
  margin-left: -10px;
}
.bundle-form .game_id_selection {
  background-color: #f7f7f7;
  padding: 20px;
}
.bundle-form .game_id_selection h3 {
  padding: 0;
  margin: 0 0 20px;
}
.bundle-form .game_id_selection li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px;
}
.bundle-form .game_id_selection li i {
  color: #ff683c;
  cursor: pointer;
}
.bundle-form .game_id_selection li:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

/*# sourceMappingURL=games.css.map */
