@import "../../styles/theme";

h3{
  font-size: 14px;
}

.game-card{
  height: 200px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(black, 0.05);
  border-radius: 2px;
  display: flex;
  border: 1px solid darken(white, 5%);
  cursor: pointer;
  transition: .3s ease;

  &:hover{
    transform: scale(1.1);
  }

  .img-con{
    width: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: darken(white, 5%);
  }

  .conMain{
    padding: 20px;
    flex: 1;
  }

  .title{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: $primary-color;
  }
}

.singleGames{
  h3{
    font-size: 14px;
  }
  .gridMain{
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-gap: 2em;

    &.embedded{
      grid-template-columns: 1fr;
    }
  }

  .contentCard{
    padding: 20px;
  }
  
  .left-nav{
    overflow: hidden;
  }
}

.instanceList{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1em;
}

.instanceCard{
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid darken(white, 5%);
  cursor: pointer;
  position: relative;
  transition: .3s ease;
  max-width: 300px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover{
    transform: scale(1.01);
  }

  h3{
    margin: 0;
    font-size: 14px;
    width: 100%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  small{
    font-size: 10px;
    font-weight: bold;
    color: darken(white, 50%);
    display: block;
    margin-bottom: 10px;
  }

  .info{
    margin-right: 10px;
  }
  .context{
    font-size: 12px;
  }
  .amount{
    color: $secondary-color;
    font-weight: bold;

    &.sandbox{
      color: $primary-color;
    }

  }

  .play{
    color: $secondary-color;
    font-size: 12px;
    font-weight: bold;
  }

  .status{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $danger-color;

    &.active{
      background-color: $success-color;
    }
  }
}

.bundle-card{
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(black, 0.05);
  border-left: 4px solid $primary-color;

  *{
    padding: 0;
    margin: 0;
  }

  .top{
    h3{
      color:$secondary-color;
      cursor: pointer;
    }
    p{
      font-size: 13px;
      margin-top: 10px;
    }
  }
  .bottom{
    margin-top: 30px;

    h4{
      font-size: 12px;
      color: $primary-color;
    }

    small{
      font-size: 12px;
      color: darken(white, 50%);
    }

    .counter{
      font-size: 11px;
      color: white;
      padding: 2px 5px;
      background-color: $secondary-color;
      margin-right: 5px;
      border-radius: 2px;
    }
  }

  .instance_list{
    margin-top: 15px;

    li{
      list-style: none;
      font-size: 12px;
      font-weight: 600;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid darken(white,5%);

      &:last-child{
        margin-bottom: 0;
        border-bottom: none;
      }
    }
  }
}

.bundle-form{
  padding: 20px;
  background-color: white;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid darken(white, 10%);
  border-radius: 4px;

  .top{
    font-weight: 600;
    margin-bottom: 30px;
    margin-left: -10px;
  }

  .game_id_selection{
    background-color: darken(white, 3%);
    padding: 20px;

    h3{
      padding: 0;
      margin: 0 0 20px;
    }

    li{
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 13px;
      padding-bottom: 10px;
      border-bottom: 1px solid darken(white, 10%);
      margin-bottom: 10px;

      i{
        color: $secondary-color;
        cursor: pointer;
      }

      &:last-child{
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}

