@import "../../styles/theme";

.Application {
  .danger-color {
    color: $danger-color;
  }

  .search-section {
    &>.flex {
      .search-box {
        max-width: 385px;
        width: 100%;
      }

      .select-input {
        background-color: transparent;
        outline: transparent;
        border: none;
        min-width: 150px;
        cursor: pointer;

        &:hover,
        &:focus {
          border: none;
          background-color: transparent;
        }
      }

      .filter-box {
        div:not(:last-child) {
          margin-right: 25px;
        }
      }
    }
  }

  .rectangle {
    width: 100%;
    padding: 20px 50px;
    box-sizing: border-box;
    min-height: 120px;
    background: #ffea9f;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 70px;
    position: relative;

    img {
      margin-right: 35px;
      width: 100px;
      height: 100px;
      position: absolute;
      top: -20px;
      left: 50px;
    }

    .rectangle-text {
      .text-1 {
        font-weight: 600;
        color: #7e6a22;
      }

      .text-2 {
        font-size: 14px;
      }

      p{
        margin: 0;
        margin-left: 150px;
      }
    }
  }

  .application-cards {
    margin-top: 40px;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    .book-status {
      font-size: 13px;
    }

    .card-heading {
      padding: 10px 10px 3px 10px;
      font-size: 16px;

      strong {
        margin-bottom: 10px;
      }
    }

    .card-main {
      max-width: 400px;
      min-height: 300px;

      .unit-description {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 13px;
        color: $color-text-light;
        max-width: 300px;
        margin-top: -10px;
        margin-bottom: 10px;
      }

      .property-address {
        margin-right: 2px;
        strong{
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 200px;
          display: block;
        }
      }

      .property-image {
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: gainsboro;
        position: relative;

        .overlay {
          visibility: hidden;
          ;
        }

        &:hover {
          .overlay {
            visibility: visible;
          }
        }

        .overlay {
          display: flex;
          background-color: rgba(0, 0, 0, 0.3);
          justify-content: center;
          align-items: center;
        }

        button {
          border: 2px solid white;
          font-weight: bold;
          border-radius: 4px;
          background-color: transparent;
        }
      }

      .delete-icon {
        cursor: pointer;
      }

      .status-of-app {
        button {
          border-radius: 38px;
          cursor: default;
          text-transform: uppercase;
          padding: 0 10px;
          height: 20px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          padding: 0 15px;
        }
      }

      .card-footer {
        padding: 13px 0px;

        .time-of-app {
          color: $color-text-light;
          font-size: 13px;
          display: flex;
          align-items: center;

          i {
            margin-right: 10px;
          }
        }

        .footer-top {
          align-items: center;
          padding: 0 10px 12px 10px;
        }

        .booking-detail {
          border-top: 1px solid #EFEFEF;
          padding: 12px 10px 10px 10px;

          .book-viewing {
            a {
              color: #4285F4 !important;
              font-size: 13px;
            }
          }
        }
      }
    }
  }

  .view-lease{
    border: 2px solid $primary-color;
    color: $primary-color-dark;
    font-weight: bold;
    padding: 5px 30px;
  }
}

.view-lease-con{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  button, a{
    width: 100%;
  }
}