@import "../../styles/theme";

.badge-text:after {
  content: attr(data-value);
  font-size: 10px;
  background: $primary-color;
  padding: 4px;
  border-radius: 20%;
  width: auto;
  height: auto;
  color: white;
  position: relative;
  top: -5px;
  left: 5px;
  min-width: 10px !important;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
