@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap");
@font-face {
  font-family: "Proxima Nova";
  src: url("https://s3.eu-west-2.amazonaws.com/algorism-artisan/fonts/proxima_ssv/ProximaNova-Regular.otf") format("opentype"); }

@font-face {
  font-family: "Museo";
  src: url("https://s3.eu-west-2.amazonaws.com/algorism-artisan/fonts/Museo_Sans_Cyrillic/MuseoSansCyrl.woff.ttf") format("woff"); }

.btn-main {
  background: blue; }

.btn {
  font-family: "Nunito Sans", sans-serif;
  background: transparent;
  border-radius: 2px;
  padding: 8px 15px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  border: 1px solid transparent; }

.disabled {
  opacity: 0.6;
  cursor: not-allowed; }

.btn:focus,
.btn:active,
.btn-sml:focus,
.btn-sml:active,
.btn {
  outline: none;
  position: relative;
  text-decoration: none;
  -webkit-box-shadow: -3px 21px 42px -38px #5680f9;
  -moz-box-shadow: -3px 21px 42px -38px #5680f9;
  box-shadow: -3px 21px 42px -38px #5680f9; }
  .btn:focus.primary,
  .btn:active.primary,
  .btn-sml:focus.primary,
  .btn-sml:active.primary,
  .btn.primary {
    background: #1CA0D7;
    transition: .3s ease; }
    .btn:focus.primary:hover,
    .btn:active.primary:hover,
    .btn-sml:focus.primary:hover,
    .btn-sml:active.primary:hover,
    .btn.primary:hover {
      background: #167eaa; }
  .btn:focus.danger,
  .btn:active.danger,
  .btn-sml:focus.danger,
  .btn-sml:active.danger,
  .btn.danger {
    background: #ff4d2d;
    transition: .3s ease; }
    .btn:focus.danger:hover,
    .btn:active.danger:hover,
    .btn-sml:focus.danger:hover,
    .btn-sml:active.danger:hover,
    .btn.danger:hover {
      background: #f92600; }
  .btn:focus.success,
  .btn:active.success,
  .btn-sml:focus.success,
  .btn-sml:active.success,
  .btn.success {
    background: #49B26D;
    transition: .3s ease; }
    .btn:focus.success:hover,
    .btn:active.success:hover,
    .btn-sml:focus.success:hover,
    .btn-sml:active.success:hover,
    .btn.success:hover {
      background: #3a8e57; }
  .btn:focus.default,
  .btn:active.default,
  .btn-sml:focus.default,
  .btn-sml:active.default,
  .btn.default {
    background: #ffffff;
    color: #000000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: .3s ease; }
    .btn:focus.default:hover,
    .btn:active.default:hover,
    .btn-sml:focus.default:hover,
    .btn-sml:active.default:hover,
    .btn.default:hover {
      background: #ccd6e1; }
  .btn:focus.loading,
  .btn:active.loading,
  .btn-sml:focus.loading,
  .btn-sml:active.loading,
  .btn.loading {
    opacity: 0.7; }
    .btn:focus.loading > span,
    .btn:active.loading > span,
    .btn-sml:focus.loading > span,
    .btn-sml:active.loading > span,
    .btn.loading > span {
      margin-right: 6px; }
  .btn:focus:hover,
  .btn:active:hover,
  .btn-sml:focus:hover,
  .btn-sml:active:hover,
  .btn:hover {
    cursor: pointer; }
  .btn:focus:disabled,
  .btn:focus .disabled,
  .btn:active:disabled,
  .btn:active .disabled,
  .btn-sml:focus:disabled,
  .btn-sml:focus .disabled,
  .btn-sml:active:disabled,
  .btn-sml:active .disabled,
  .btn:disabled,
  .btn .disabled {
    opacity: 0.6;
    cursor: not-allowed; }
  .btn:focus:active, .btn:focus:focus,
  .btn:active:active,
  .btn:active:focus,
  .btn-sml:focus:active,
  .btn-sml:focus:focus,
  .btn-sml:active:active,
  .btn-sml:active:focus,
  .btn:active,
  .btn:focus {
    outline: none !important;
    border: none !important; }
  .btn:focus.block,
  .btn:active.block,
  .btn-sml:focus.block,
  .btn-sml:active.block,
  .btn.block {
    width: 100%;
    display: block; }
  .btn:focus .icon-left,
  .btn:active .icon-left,
  .btn-sml:focus .icon-left,
  .btn-sml:active .icon-left,
  .btn .icon-left {
    padding-right: 10px; }
  .btn:focus .content,
  .btn:active .content,
  .btn-sml:focus .content,
  .btn-sml:active .content,
  .btn .content {
    display: inline-flex;
    justify-content: center;
    align-items: center; }

.spinner.danger .lds-dual-ring {
  color: #ff4d2d !important; }
