@import "../../styles/theme";

.newGame{
  .inner{
    display: grid;
    grid-template-columns: 8fr 7fr;
    grid-gap: 3em;
  }
  h3{
    font-size: 14px;
  }

  .prices-lists
  .prices-card{
    position: relative;
    margin-bottom: 20px;
    border-bottom: 2px solid black;

    .close{
      position: absolute !important;
      top: -10px !important;
      right: 0 !important;
      color: $danger-color !important;
      cursor: pointer;
    }

    &:last-child{
      border-bottom: none;
    }
  }

  .createButton{
    margin-top: 30px;
    background-color: $primary-color;
    height: 50px;
    width: 150px;
    font-size: 16px;
  }
}