@import "../../styles/theme";

.newGame{
  max-width: 900px;
  margin: 0 auto;

  h3{
    font-size: 15px;
  }

  .prices-lists
  .prices-card{
    position: relative;
    margin-bottom: 20px;
    border-bottom: 2px solid black;

    .close{
      position: absolute !important;
      top: -10px !important;
      right: 0 !important;
      color: $danger-color !important;
      cursor: pointer;
    }

    &:last-child{
      border-bottom: none;
    }
  }

  .createButton{
    background-color: $primary-color;
    height: 60px;
    width: 150px;
    font-size: 16px;
  }
}