@import "../../styles/theme";

.proview{
  max-width: 450px;
  margin: 0 auto;
  margin-top: 30px;

  .profile-viewer{
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid darken(white, 10%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    .label{
      font-size: 13px;
      color: darken(white, 50%);
      font-weight: 600;
      flex: 1;
    }
    .context{
      flex: 1;
      font-size: 13px;
      font-weight: 600;
      text-align: right;
    }
  }
}

.no-profile-data{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;

  h3{
    font-size: 14px;
    margin: 0;
    color: $primary-color;
  }

  p{
    font-size: 12px;
    margin: 0;
  }
}

.profile-multi{
  margin-bottom: 20px;
  border-bottom: 3px solid black;
  padding-top: 20px;
  position: relative;
  .remove-form{
    position: absolute;
    top: -20px;
    right: 0;
    font-size: 12px;
    font-weight: bold;
    color: $danger-color;
    cursor: pointer;
  }

  &:first-child{
    padding-top: 0;
  }
  &:last-child{
    border-bottom: none;
  }
}

.newProfile{
  margin-top: 50px;
  font-size: 13px;
}

.basic-info-main{
  .proview{
    .label{
      color: black;
      font-weight: 300;
    }
  }
}

.BasicProfile{
  .address-con>*{
    grid-gap: 0 !important;
    grid-column-gap: 40px !important;
  }
}

.settings-main{
.heading{
  font-size: 14px;
  font-weight: 600;
}
  .settings-con{
    margin: 0 auto;
    margin-top: 30px;
    max-width: 450px;

    .settings-viewer{
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid darken(white, 10%);
      display: flex;
      align-items: center;
      justify-content: space-between;
      .label{
        font-size: 13px;
        color: darken(white, 50%);
        font-weight: 600;
        flex: 1;
      }
      .context{
        flex: 1;
        font-weight: bold;
        text-align: right;
        text-transform: capitalize;
        small{
          font-size: 11px;
          color: $secondary-color;
        }
      }
    }
  }
}