@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap");
@font-face {
  font-family: "Proxima Nova";
  src: url("https://s3.eu-west-2.amazonaws.com/algorism-artisan/fonts/proxima_ssv/ProximaNova-Regular.otf") format("opentype"); }

@font-face {
  font-family: "Museo";
  src: url("https://s3.eu-west-2.amazonaws.com/algorism-artisan/fonts/Museo_Sans_Cyrillic/MuseoSansCyrl.woff.ttf") format("woff"); }

.Tabs {
  width: 98%;
  padding: 0;
  margin: 25px auto;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  box-sizing: border-box; }
  .Tabs .inline-flex {
    display: inline-flex;
    overflow-x: hidden; }
  .Tabs .tab-item-wrapper {
    padding-top: 20px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden; }
    .Tabs .tab-item-wrapper .tab-navigator {
      align-self: center;
      color: #bec9d1;
      background: #1CA0D7; }
    .Tabs .tab-item-wrapper .inline-flex .tab-item {
      position: relative; }
    .Tabs .tab-item-wrapper::after {
      border-bottom: 3px solid #e8e8e8;
      width: 100%;
      content: "";
      bottom: 0;
      z-index: -1;
      display: block;
      position: absolute; }
    .Tabs .tab-item-wrapper .wrapper-border {
      position: absolute;
      width: 100px;
      height: 3px;
      background: #1CA0D7;
      bottom: 0;
      transition: all 0.3s ease; }
    .Tabs .tab-item-wrapper .tab-item {
      border-bottom: 3px solid transparent;
      margin: 0 5px; }
      .Tabs .tab-item-wrapper .tab-item.active-first {
        color: #1CA0D7;
        font-weight: bold; }
        .Tabs .tab-item-wrapper .tab-item.active-first::after {
          width: 100%;
          content: "";
          height: 3px;
          background: #1CA0D7;
          display: block;
          position: absolute;
          bottom: -3; }
    .Tabs .tab-item-wrapper .tab {
      padding: 15px 20px;
      margin-right: 5px; }
    .Tabs .tab-item-wrapper .tab-item.active {
      color: #1CA0D7;
      font-weight: bold; }
    .Tabs .tab-item-wrapper .tab-item.disabled {
      color: #bec9d1;
      cursor: not-allowed; }
    .Tabs .tab-item-wrapper .tab-item:not(.active) {
      border-bottom: 3px solid transparent; }
    .Tabs .tab-item-wrapper .item {
      white-space: nowrap; }
  .Tabs .tab-content-wrapper {
    overflow: hidden;
    white-space: nowrap; }
  .Tabs .tab-content-wrapper div {
    width: 100%;
    position: relative;
    display: inline-block; }
  .Tabs .tab-scroller {
    position: relative;
    transition: all 0.3s ease; }
  .Tabs #tab-slider {
    position: relative; }
