@import "./propertyListing";

.basic-info-container{
  margin-top: 30px;
}

.questions{
  font-size: 13px;
  font-weight: 600;
}

.radio-group{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  flex-wrap: wrap;
  margin-top: 10px;

  .input-radio{
    margin: 10px 0;
    min-width: 100px;
  }
}

.item-group{
  width: 100%;
  max-width: 500px;
  margin-top: 20px;

  .questions{
    margin-bottom: 20px;
  }

  .btn{
    background-color: $secondary-color;
    border-radius: 100%;
    width: 40px;
    margin-left: 20px;

    &:hover, &:focus{
      background-color: darken($secondary-color, 5%);
    }
    i{
      color: white;
      svg{
        width: 20px;
        height: 20px;
      }
    }
  }
}

.info-section{
  margin-top: 30px;
  h3{
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
  }

  i{
    color: $secondary-color;
    svg{
      width: 25px;
      height: 25px;
    }
  }
}

.grid-gap{
  grid-column-gap: 2em;
}

.banner{
  background-color: $blue-con;
  display: flex;
  align-items: center;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 20px;

  img{
    width: 50px;
    margin-left: 30px;
  }

  .context{
    max-width: 500px;
    margin-left: 30px;
    h4{
      margin-top: 0;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 600;
      color: darken($blue-con, 70%)
    }
    p{
      margin-top: 5px;
      margin-bottom: 0;
      font-weight: 500;
      font-size: 12px;
      color: darken($blue-con, 60%);
    }
  }

  .cast{
    position: absolute;
    right: 10px;
    bottom: 5px;
    font-weight: 600;
    font-size: 12px;
    color: darken($blue-con, 70%)
  }
}