@import "../../styles/theme";

.quickLinkCard{
  height: 150px;
  background-color: gray;
  width: 250px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

  .img-con{
    width: 50px;
    height: 50px;
  }
  img{
    width: 100%;
  }

  p{
    margin: 0;
    font-size: 13px;
    margin-top: 10px;
    color: white;
    font-weight: 600;
  }

  &.green{
    background-color: darken($success-color, 20%);
  }

  &.blue{
    background-color: $blue3-con;
  }

  &.purple{
    background-color: $purple-con;
  }

  &.greyBlue{
    background-color: $purple2-con;
  }
}