@import "../../styles/theme";

.payment-dashboard-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid darken(white, 10%);
  padding-bottom: 15px;
  margin-bottom: 15px;

  &:last-child {
    border-bottom: none;
  }
}

.payment-content .title {
  color: #5b68a4;
  margin: 0;
  font-size: 12px;
}

.payment-content .due-date {
  font-size: 8px;
  color: #797979;
  margin: 2px 0;
}

.payment-content .description {
  font-size: 9px;
  color: #f79423;
  margin: 0;
}

.link {
  a {
    color: #ed4c5c !important;
    font-size: 10px;
  }
  span {
    margin-left: 5px;
  }
  svg {
    color: #ed4c5c;
  }
}
