.newCampaign{
  h3{
    font-size: 14px;
  }

  .modal-bubble-fixed{
    .title{
      font-size: 14px !important;
    }
  }
}

.productCardInfo{
  .title{
    font-size: 14px;
    font-weight: 600;
  }
  .mainFig{
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
  }
}

