@import "../../styles/theme";

.newCampaign{
  h3{
    font-size: 14px;
  }

  .modal-bubble-fixed{
    .title{
      font-size: 14px !important;
    }
  }
}

.productCardInfo{
  .title{
    font-size: 14px;
    font-weight: 600;
  }
  .mainFig{
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
  }
}

.form-group{
  position: relative;
}

.campaignMessageCounter{
  position: absolute;
  right: 5px;
  font-size: 13px;
  font-weight: bold;
  color: darken($primary-color, 10%);
  font-style: italic;
}

