@import "../../styles/theme";

.reward{
  h3{
    font-size: 14px;
  }

  .modal-bubble-fixed{
    max-width: 1200px !important;
    .title{
      font-size: 14px !important;
    }
  }

  .qualificationForm{
    padding: 20px;
    background-color: darken(white, 2%);
    margin-bottom: 20px;
    position: relative;
  }


  .close{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    svg{
      color: $danger-color;
    }
  }

  .singleConditions{
    position: relative;
    .close{
      top: -20px;
      right: 0;
    }
  }


}