@import "../../styles/theme";

.ApplicationCard2{
  background-color: white;
  box-shadow: 0 5px 10px rgba(black, 0.1);
  border-radius: 10px;
  position: relative;

  .more{
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
  }

  .top{
    height: 120px;
    border-bottom: 1px solid darken(white, 5%);
    box-sizing: border-box;
    .property-image{
      width: 130px;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-top-left-radius: 10px;
      box-sizing: border-box;
    }
    .content{
      padding: 10px 20px;
      h4{
        margin: 0;
        font-weight: 600;
        text-transform: capitalize;
        font-size: 13px;
      }

      small{
        display: block;
        font-size: 10px;
        font-weight: 600;
        max-width: 150px;
        color: darken(white, 50%);
      }

      a{
        display: block;
        font-size: 12px;
        font-weight: 600;
      }
    }
  }
  .body{
    padding: 20px 30px;
    box-sizing: border-box;

    small{
      display: block;
      font-weight: 600;
      color: $secondary-color;
      font-size: 12px;
    }

    h4{
      margin: 5px 0;
    }

    .applied-time{
      color: darken(white, 50%);
    }

    a{
      small{
        color: $primary-color;
      }
    }
  }
  .card-footer{
    padding: 20px;
    button{
      margin-right: 20px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
}