@import "../../styles/theme";

.image-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  background-image: url('https://picsum.photos/id/237/200/300');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: gainsboro;

}

.settings{
  .contentCard{
    padding: 20px;
  }
}