@import "../../styles/theme";

.welcome-container {
  width: 70%;
}

.welcome-rectangle {
  background: rgba(99, 255, 161, 0.16);
  border-radius: 10px;
  justify-content: space-between;
  padding: 30px;
  margin-right: 30px;
  margin-bottom: 5%;

  .welcome-texts > p {
    font-weight: 600;
  }

  .welcome-texts > p:first-child {
    color: #28a372;
    font-weight: bold;
  }

  .welcome-texts > p:nth-child(2),
  .welcome-texts > p:nth-child(3) {
    font-size: 14px;
  }

  .profile-stat {
    width: 120px;
    height: 120px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    button {
      padding: 5px 5px;
      font-size: 10px;
      font-weight: bold;
      background-color: darken($success-color, 10%);
      &:focus,
      &:hover {
        background-color: darken($success-color, 20%);
      }
    }

    .counter {
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: 600;
      color: darken($success-color, 10%);
    }

    .stat-circle {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border: 2px solid $success-color;
      border-radius: 50%;
      border-left-color: transparent;
    }
  }
}

.activity-summary-container > p {
  font-weight: bold;
}

.notifications-container {
  width: 30%;
}

.notifications-container > h4 {
  margin-top: 0;
}

.notifications {
  width: 100%;
  background: #ffffff;
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
  border-radius: 10px 10px 0 0;
  padding: 20px 20px 0px 20px;
  font-size: 14px;
}

.divider {
  border: 1px solid #e1e1e1;
}

.show-more {
  text-align: center;
  background-color: #ebebeb;
  margin: 0;
  border-radius: 0 0 10px 10px;
  padding: 5px 0;
  font-size: 14px;
}

.quick-views-container {
  margin: 5% 0;
}
