.sign-canvas{
  canvas{
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 6px;
  }

  .sign-area-main{
    position: relative;

    .illustrator{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: darken(white, 40%);
    }

    .disabled{
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      background-color: transparent;
      z-index: 100000;
    }
  }
}