.card-main {
  margin-bottom: 2%;
}

.single-card {
  padding: 0 2%;
  // height: 100px;
}

.notification-status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ff3e30;
}

.notification-image {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 1%;
  margin-right: 3%;
}

.time-container {
  justify-content: flex-end;
  flex-grow: 1;
}

.time {
  color: #9e9e9e;
}

.yesterday {
  margin-top: 5%;
}

//#-------------------------Responsiveness-------------------------------#
@media screen and (max-width: 768px) {
  .single-card {
    font-size: 11px;
    margin-right: 5px;
  }
  .notification-status {
    width: 5px;
    height: 5px;
  }
  .notification-image {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 425px) {
  .single-card {
    font-size: 10px;
    // height: 75px;
  }
  .today,
  .yesterday {
    font-size: 14px;
  }
  .notification-status {
    display: none;
  }
}
