@import "../../styles/theme";

.notification-card {
  border-bottom: 1px solid darken(white, 10%);
  margin-bottom: 5px;
  padding-bottom: 5px;

  &:last-child {
    border-bottom: none;
  }

  .notification-content {
    .title {
      font-size: 12px;
      font-weight: bold;
      margin: 0;
    }
    .time {
      color: #8c8c8c;
      font-size: 8px;
    }
  }
}
