@import "../../styles/theme";

$banner-blue: #D9EEFF;
$agreementPink: #FED9FF;

.banner{
  background-color: $banner-blue;
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 20px;

  img{
    width: 100px;
    margin-left: 40px;
  }

  .context{
    max-width: 600px;
    margin-left: 30px;
    h3{
      margin-top: 0;
      margin-bottom: 0;
      font-size: 16px;
      font-weight: 600;
      color: darken($banner-blue, 70%)
    }
    p{
      margin-top: 5px;
      margin-bottom: 0;
      font-weight: 500;
      font-size: 12px;
      color: $black-color
    }
  }

  .cast{
    position: absolute;
    right: 10px;
    bottom: 5px;
    font-weight: 600;
    font-size: 12px;
    color: darken($blue-con, 70%)
  }
}

.lease-banner{
  background-color: $agreementPink;

  img{
    width: 70px;
    margin-left: 60px;
    transform: scale(1.8) translateY(-5px);
  }

  .context{
    margin-left: 50px;
    h3{
      color: darken($agreementPink, 50%);
    }
  }
}

.lease-search-box{
  min-width: 200px;
}

.props{
  svg{
    margin-bottom: 3px;
    color: darken(white, 20%);
    margin-right: 10px;
    cursor: pointer;
  }

  .align-prop{
    .active{
      svg{
        color: $primary-color;
      }
    }
  }

  .sort-con{
    margin: 0 30px;

    .label{
      font-size: 13px;
      font-weight: 600;
      color: darken(white, 30%);
    }

    .input-field{
      min-width: 140px;
      border-color: transparent;
      &:hover, &:focus, &:active{
        border-color: transparent;
      }
    }
    .select-input{
      background-color: transparent;
    }
  }
}

.lease-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1em;
}

.lease-list{
  max-width: 100%;
  overflow: auto;
}

.lease-grid-main{
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 4fr 1fr;

  .main-area{
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 3fr;
  }

  .head-part{
    .info-list{
      .mode-item{
        font-size: 12px;
        font-weight: 600;

        &.active{
          color: $blue3-con;
          cursor: pointer;
        }
      }
      .spacer{
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: darken(white, 15%);
        margin: 0 10px;

      }
      h3{
        font-size: 15px;
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 0;
      }
      small{
        display: block;
        font-size: 10px;
        font-weight: 600;
        color: darken(white, 50%);
      }
    }
    .logo{
      img{
        width: 70px;
      }
    }
  }
}

.lease-card{
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 5px 20px rgba(black, 0.05);
  box-sizing: border-box;

  h4{
    margin: 0;
    font-size: 14px;
  }

  h3{
    margin: 0;
    font-size: 15px;
    margin-bottom: 20px;
  }
}

.lease-term{
  margin-bottom: 30px;
  box-sizing: border-box;

  .top{
    border-bottom: 1px solid darken(white, 10%);
    padding: 20px;
    box-sizing: border-box;


    p{
      margin: 0;
      font-size: 11px;
      text-align: right;
      font-weight: 600;
    }
  }
  .body{
    max-width: 550px;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;

    h3{
      margin: 0;
      font-size: 15px;
      text-align: center;
      margin-bottom: 20px;
    }

    .input-field{
      min-width: 100px;
      input{
        font-size: 12px;
      }
    }

    .label{
      font-size: 11px;
    }
    small{
      font-size: 9px;
    }
  }
  .currency-input-field{
    .select-input{
      background-color: $primary-color;
      &>*{
        color: white !important;
      }
      svg{
        color: white;
      }
    }
  }
}
.declaration{
    padding: 20px;
  margin-bottom: 30px;

  .dec-info{
    background-color: darken(white, 5%);
    padding: 20px;
    p{
      margin: 0;
      font-size: 13px;
      margin-top: 10px;
    }
    margin-bottom: 20px;
    border-radius: 4px;
  }

  .party-detail {
    max-width: 500px;
    margin:0 auto;
    height: 200px;
    box-sizing: border-box;
    border: none;

    .img-con{
      width: 70px;
      height: 70px;
      border-radius: 50px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin: 0 20px;
    }

    .bottom{
      align-content: flex-end;
    }

    .tenant-con, .landlord-con{
      display: flex;
      align-items: center;
      h4, p{
        margin: 0;
      }

      .tag{
        font-size: 9px;
        color: $danger-color;
      }
      h4{
        font-size: 13px;
        font-weight: 600;
      }
      p{
        font-size: 11px;
        color: darken(white, 50%);
      }
    }


    .tenant-con{
      .content{
        margin-left: 10px;
      }
    }

    .landlord-con{
      .content{
        margin-right: 10px;
        text-align: right;
      }
    }
  }
}

.covenant{
  padding: 20px;
  margin-bottom: 30px;

  .conv-item{
    background-color: darken(white, 5%);
    padding: 20px;
    border-radius: 4px;
    font-size: 13px;

    .main{
      font-weight: bold;
    }
  }
}

.signature{
  padding: 20px;
  margin-bottom: 30px;

  .title{
    font-size: 14px;
    font-weight: 600;
  }
  small{
    display: block;
    font-size: 12px;
    color: darken(white, 60%);
  }

  .sign-con{
    display: flex;
    align-items: center;
    justify-content: center;

    img{
      width: 150px;
    }
  }

  .divider{
    height: 100px;
    width: 1px;
    background-color: darken(white, 10%);
    margin: 0 20px;
  }

  .sign-area{
    margin-top: 10px;
    background-color: darken(white, 5%);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-style: italic;
    color: darken(white, 50%);
    border-radius: 10px;
  }
}

.lease-step-item{
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  border-left: 3px solid transparent;
  box-sizing: border-box;
  cursor: pointer;



  .title{
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  p{
    margin: 0;
    font-size: 10px;
    font-weight: 600;
    color: darken(white, 60%);
  }
  &.active{
    border-color: $primary-color-dark;

    .title, p{
      color: $primary-color-dark;
    }
  }
}

.info-card{
  background-color: white;
  //padding: 20px;
  border: 1px solid darken(white, 5%);
  border-radius: 6px;
  font-size: 13px;
  border-top: 3px solid $secondary-color;

  .top{
    padding: 20px;
    border-bottom: 1px solid darken(white, 10%);
    font-weight: 600;
    box-sizing: border-box;
  }

  .context{
    padding: 10px 20px;
    color: darken(white, 70%);
    line-height: 25px;
    box-sizing: border-box;
  }

  button{
    width: 100%;
  }
}

.grid-lease-charge{
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) !important;
  grid-column-gap: 1em;
  border-bottom: 1px solid darken(white, 10%);
  padding-top: 10px;

  &:last-child{
    border-bottom: none;
  }
}

.clause-button{
  border: 2px solid $primary-color;
  color: $primary-color-dark !important;
}

.term-con{
  min-width: 300px;
  .flex{
    margin-bottom: 20px;
  }
  .info, .content{
    font-size: 13px;
    font-weight: 600;
  }

  .info{
    color: darken(white, 60%);
  }


}

.charge-table{
  width: 100%;
  max-width: 400px;
  margin-bottom: 30px;
}

.conv-input_con{
  display: flex;
  height: 60px;
  border: 2px solid rgba($primary-color, 0.6);
  border-radius: 4px;
  align-items: flex-start;
  padding: 10px;
  position: relative;
  margin-bottom: 30px;

  .remove{
    position: absolute;
    top: -20px;
    right: 0;
    font-size: 13px;
    font-weight: bold;
    color: $secondary-color;
    cursor: pointer;
  }

  input{
    height: 30px;
    font-size: 13px;
    width: 100px;
    border: none;
    font-weight: bold;
    outline: none;
    font-family: $primary-font;
    padding: 0;
  }

  textarea{
    font-size: 13px;
    font-family: $primary-font;
    display: block;
    padding: 5px;
    flex: 1;
    height: 100%;
    min-width: unset;
    border: none;
    outline: none;

    &:hover, &:focus, &:active{
      box-shadow: none;
    }
  }
}