@import "../../styles/theme";

.SummaryCard {
  margin-bottom: 15px;

  .card-main {
    border: 1px solid darken(white, 10%);
    border-radius: 10px;
    .card-content {
      align-items: center;
      padding: 0 15px;

      .summary-flex {
        display: grid;
        grid-template-columns: 5fr 2fr;

        span {
          align-self: center;
          position: relative;
          top: 2px;

          width: 25px;
          display: block;

          img{
            width: 50px;
            height: 50px;
          }
        }

        .stat-figure {
          display: flex;
          align-items: center;
          justify-content: center;
          border-left: 1px solid darken(white, 10%);
          font-weight: bold;
        }
      }

      .card-stat-text {
        margin-left: 40px;
        padding: 30px 0;
        font-weight: 600;
        color: darken(white, 60%);
        font-size: 14px;
      }
    }
  }
}