@import "../../styles/theme";

.application-dashboard-card {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid darken(white, 10%);
  padding-bottom: 15px;

  &:last-child {
    border-bottom: none;
  }
}

.app-img {
  margin-right: 30px;
  border-radius: 4px;
  width: 60px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.application-content {
  .title {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
  }
  .application-date {
    margin: 5px 0;
    color: #6a6868;
    font-size: 9px;
    font-weight: bold;
  }
  .app-status {
    border-radius: 3px;
    padding: unset;
    height: 15px;
    .content {
      padding: 0 5px;
      font-size: 8px;
    }
    &.accepted {
      background: $success-color;
    }
    &.rejected {
      background: $danger-color;
    }
  }
}
