.product-card {
  width: 300px;
}

.computes {
  display: flex;
}

.computes .card-main {
  margin-right: 10px;
}

textarea {
  resize: none;
  min-height: 120px;
}
lds-dual-ring {
  display: none;
}
@media (max-width: 768px) {
  .product-card {
    width: 100%;
  }
}
