@import "../../styles/theme";

.Properties {
  .space-right {
    margin-right: 10px;
  }

  .page-layout {
    margin-top: 70px;

    .badge-text {
      &::after {
        font-size: 12px;
        background: #287dcb;
        padding: 3px 15px;
        border-radius: 18px;
      }
    }

    .main-page {
      max-width: calc(100% - 280px);
      margin-right: 25px;

      .rectangle {
        width: 100%;
        padding: 30px 50px;
        box-sizing: border-box;
        height: 120px;
        background: #baffd6;
        border-radius: 10px;
        align-items: center;
        margin-bottom: 70px;

        img {
          margin-right: 35px;
          width: 120px;
          height: 120px;
        }

        .rectangle-text {
          .text-1 {
            font-weight: 600;
          }

          .text-2 {
            font-size: 14px;
          }
        }
      }

      .search-section {
        &>.flex {
          .select-input {
            background-color: transparent;
            outline: transparent;
            border: none;
            min-width: 147px;

            &:hover,
            &:focus {
              border: none;
              background-color: transparent;
            }
          }

          .search-box {
            max-width: 385px;
            width: 100%;
          }

          .filter-box {
            div:not(:last-child) {
              margin-right: 25px;
            }
          }
        }
      }

      .section-begin {
        margin-top: 40px;
      }

      .property-section {
        margin-top: 20px;
        background-color: white;
        padding: 20px 30px;
        border: 1px solid #eeeeee;
        border-radius: 4px;
      }

      /*
  *Property container based styles
  */

      .PropertyContainer {
        .property-container-header {
          .property-details {
            .home-icon {
              color: $danger-color;
              margin-right: 20px;
            }

            .property-name {
              font-weight: 600;
            }

            .address {
              color: $color-text-light;
            }
          }

          .property-options {
            button {
              background-color: transparent;

              svg {
                margin-right: 5px;
                position: relative;
                top: -2px;
              }

              &.btn-add-unit {
                color: $primary-color;
                font-weight: 600;
                margin-right: 10px;
              }

              &.btn-select-unit {
                color: $color-text-light;
                font-weight: 600;
              }
            }
          }
        }

        .property-management {
          padding-left: 15px;

          button {
            background-color: transparent;
            font-weight: 600;

            svg {
              margin-right: 5px;
              position: relative;
              top: -2px;
            }

            &.btn-edit {
              color: $primary-color;
              margin-right: 10px;
            }

            &.btn-delete {
              color: $danger-color;
            }
          }
        }

        .view-all {
          font-weight: 600;
        }
      }

      .property-slider {
        margin-top: 20px;
        display: flex;
        width: 100%;
        max-width: 1240px;
        overflow-x: auto;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .PropertyCard {
        width: 400px;
        margin-right: 15px;

        .single-line {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 180px;
        }

        .card-main {
          height: 155px;
          width: 346px;
          margin: 25px 0;

          .property-image {
            width: 145px;
            background-image: url("https://via.placeholder.com/200");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 10px;
            flex-shrink: 0;
            background-color: lighten($color-text-light, 27);
          }

          .property-description {
            padding: 10px 0;

            .property-type {
              font-size: 13px;
            }

            .property-status {
              &.unpublished {
                color: $danger-color;
              }

              &.published {
                color: $success-color;
              }

              font-weight: 600;
            }
          }
        }
      }
    }

    .right-nav {
      width: 280px;

      .section-header {
        font-weight: 600;
      }

      .section-header {
        margin-bottom: 15px;
      }

      .SummaryCard {
        margin-bottom: 12px;

        .card-main {
          .card-content {
            align-items: center;
            display: flex;
            padding: 0 15px;

            .summary-flex {
              &>span {
                align-self: center;
                position: relative;
                top: 2px;
              }

              &>strong {
                padding: 0 10px;
                align-self: center;
                width: 30px;
              }
            }

            .card-stat-text {
              flex-grow: 1;
              padding: 40px 10px;

              border-right: 1px solid #dae3ea;
              text-align: center;
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  .add-unit-form {
    .grid {
      gap: 20px;
      margin-bottom: 25px;
    }

    .input-field {
      min-width: 100%;
    }

    .banner {
      background-color: #ffeacd;
      margin-bottom: 30px;

      .banner-image {
        margin-right: 30px;
      }
    }

    .top {
      margin-bottom: 25px;

      svg {
        color: $danger-color;
        margin-right: 10px;
      }
    }

    button {
      border-radius: 40px;
    }
  }
}