.search {
  justify-content: space-between;
  margin: 5% 0;
}

.search p {
  font-size: 12px;
  color: #727070;
}

.input-control .input-field {
  width: unset;
}

.input-field.select-input.sort-select {
  min-width: 100px;
  background-color: unset;
}

.active-rents {
  gap: 20px;
  margin-bottom: 5%;
}

.property-image {
  height: 150px;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

.property-details {
  padding: 0 3%;
}

.property-details > p {
  color: #5b68a4;
  margin-bottom: 0;
}

.calendar-svg {
  margin-right: 3%;
  width: 20px;
}

.flex > p {
  color: #9e9e9e;
  font-size: 14px;
}

.title-address {
  margin-bottom: 2%;
}

.title-address > h2 {
  margin-bottom: 0;
}

.location {
  margin-right: 5px;
  color: #feba37;
}

.single-rent .property-image {
  height: 300px;
}

.payment-lease {
  margin: 4% 0;
}

.payment-lease-details {
  padding: 2%;
  background-color: white;
  // height: 200px;
  padding-bottom: 0;
  font-size: 14px;
}

.payment-lease-details > p {
  color: #9e9e9e;
  line-height: 40px;
}

.payment-lease-details > p span {
  color: black;
}

.days-left {
  color: #9e9e9e !important;
  font-size: 12px;
}

.lease-button {
  justify-content: flex-end;
}

.lease-button button {
  margin: 20px 0;
}

.facilities {
  height: 200px;
  background-color: white;
  justify-content: space-evenly;
  align-items: center;
}

.facilities img {
  width: 75px;
}

.facilities p {
  margin: 0;
  font-size: 14px;
  text-align: center;
}

.landlord-container {
  margin: 4% 0;
}

.landlord {
  background-color: white;
  padding: 2%;
  position: relative;
}

.landlord-img {
  border-radius: 20px;
  margin-right: 3%;
  width: 100px;
  height: 100px;
}

.landlord-details span {
  font-weight: bold;
}

.bubbles {
  position: absolute;
  color: #feba37;
  right: 2%;
  bottom: 10%;
}

//#------------Responsiveness for All Rentals Page-----------------------#
@media screen and (max-width: 1024px) {
  .active-rents.grid.grid-4 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .active-rents.grid.grid-4 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 320px) {
  .active-rents.grid.grid-4 {
    grid-template-columns: 1fr;
  }
}

//#-----------Responsiveness for Single Rent Page------------------------#
@media screen and (max-width: 768px) {
  .single-rent .property-image {
    height: 150px;
  }
  .facilities {
    height: 100px;
  }
  .facilities img {
    width: 40px;
  }
  .title-address > h2 {
    font-size: 16px;
  }
  .flex > p {
    font-size: 12px;
  }
  .property-details {
    font-size: 12px;
  }
}

@media screen and (max-width: 375px) {
  .payment-lease-details {
    font-size: 10px;
  }
  .payment-lease-details > p {
    line-height: unset;
  }
  .landlord-img {
    width: 50px;
    height: 50px;
  }
  .landlord-details {
    font-size: 12px;
  }
  .bubbles svg {
    width: 30px;
    height: 30px;
  }
  .facilities > div {
    position: relative;
  }
  .facilities > div:hover .image {
    opacity: 0.3;
  }
  .facilities > div:hover .text {
    opacity: 1;
  }
  .facilities > div img {
    opacity: 1;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }
  .text {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .text > p {
    color: black;
    font-size: 9px;
    font-weight: bolder;
  }
  .lease-button button {
    height: unset;
    padding: 3px 5px;
  }
}

@media screen and (max-width: 320px) {
  .property-details {
    font-size: 16px;
  }
}
