.search {
  justify-content: space-between;
  margin-top: 5%;
}

.search p {
  font-size: 12px;
  color: #727070;
}

.input-control .input-field {
  width: unset;
}

.sort-select {
  //   margin-left: 1%;
}
