@import "../../styles/theme";

$color-main : #BFFFCD;

.lease-charge-main{
  .heading-context{
    margin-top: 20px;
    background-color: $color-main;
    h3{
      color: darken($color-main, 50%);
    }

    img{
      width: 110px;
      height: 110px;
      top: 0;
    }
  }

  .charge-grid{
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-gap: 2em;
  }
}