@import "../.././../styles/theme";
.Accordion {
  font-family: $primary-font;
  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  // Layout
  .row {
    display: flex;
    .col {
      flex: 1;
      margin: 0;
    }
  }
  /* Accordion styles */
  .tabs {
    overflow: hidden;
  }
  .tab {
    width: 100%;
    overflow: hidden;
    &-label {
      display: flex;
      justify-content: space-between;
      padding: 1em;
      font-weight: bold;
      cursor: pointer;
      /* Icon */
      &::after {
        content: "\276F";
        width: 1em;
        height: 1em;
        text-align: center;
        transition: height 0.2s;
      }
    }
    &-content {
      max-height: 0;
      padding: 0 1em;
      background: whitesmoke;
      transition: all 0.2s;
    }
    &-close {
      display: flex;
      justify-content: flex-end;
      padding: 1em;
      font-size: 0.75em;
      cursor: pointer;
    }
  }

  // :checked
  input:checked {
    + .tab-label {
      &::after {
        transform: rotate(90deg);
      }
    }
    ~ .tab-content {
      max-height: 100%;
      padding: 1em;
    }
  }
}
