@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap");
@font-face {
  font-family: "Proxima Nova";
  src: url("https://s3.eu-west-2.amazonaws.com/algorism-artisan/fonts/proxima_ssv/ProximaNova-Regular.otf") format("opentype"); }

@font-face {
  font-family: "Museo";
  src: url("https://s3.eu-west-2.amazonaws.com/algorism-artisan/fonts/Museo_Sans_Cyrillic/MuseoSansCyrl.woff.ttf") format("woff"); }

.Accordion {
  font-family: "Nunito Sans", sans-serif;
  /* Accordion styles */ }
  .Accordion input {
    position: absolute;
    opacity: 0;
    z-index: -1; }
  .Accordion .row {
    display: flex; }
    .Accordion .row .col {
      flex: 1;
      margin: 0; }
  .Accordion .tabs {
    overflow: hidden; }
  .Accordion .tab {
    width: 100%;
    overflow: hidden; }
    .Accordion .tab-label {
      display: flex;
      justify-content: space-between;
      padding: 1em;
      font-weight: bold;
      cursor: pointer;
      /* Icon */ }
      .Accordion .tab-label::after {
        content: "\276F";
        width: 1em;
        height: 1em;
        text-align: center;
        transition: height 0.2s; }
    .Accordion .tab-content {
      max-height: 0;
      padding: 0 1em;
      background: whitesmoke;
      transition: all 0.2s; }
    .Accordion .tab-close {
      display: flex;
      justify-content: flex-end;
      padding: 1em;
      font-size: 0.75em;
      cursor: pointer; }
  .Accordion input:checked + .tab-label::after {
    transform: rotate(90deg); }
  .Accordion input:checked ~ .tab-content {
    max-height: 100%;
    padding: 1em; }
