@import "../../styles/theme";

.pagination-main{
  align-self: flex-start;

  .activePage{

    a{
      background-color: $primary-color;
      color: $white-color !important;
    }

  }
  ul{
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 20px;

    li{
      padding: 0 !important;

      overflow: hidden;

      background-color: $white-color;
      margin-right: 10px;
      box-shadow: 0 5px 10px rgba(0,0,0,0.07);
      border-radius: 50%;
      color: $primary-color-dark;
      font-weight: 600;
      outline: none !important;

      a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        outline: none !important;
      }



      &:last-child{
        margin-right: 0;
      }

      @media screen and (max-width: 480px) {


        a{
          width: 35px;
          height: 35px;
          font-size: 12px;
        }
      }
    }

  }
}